*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    padding: 0;
    overflow: auto;
    scroll-behavior: smooth;
}

.Background {
    width: 100%;
    min-height: 703px;
}

.navbar {
    display: flex;
    background-color: #e63946;
    justify-content: space-between;
    align-items: center;
    padding: 40px 60px 20px 60px;
}

.navbar h1 {
    position: absolute;
    left: 100px;
    color: white;
    padding: 50px;
    font-size: 30px;
    font-weight: 900;
}

.navbar ul {
    font-size: larger; 
    list-style: none;
    display: flex;
}

.navbar a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    transition: 0.2s;
    padding: 0px 25px;
}


.navbar a:hover, a.Active{
    color: black;
    text-decoration: none;
    font-weight: bold;
}

.flag {
    width: 60px;
    height: 40px;
    padding: 5px;
}

.Main{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 100px;
    margin-right: 75px;
    gap: 50px;
}

.Map{
    border: 5px solid black;
    border-radius: 3px;
    display: inline-block;
    width: auto;
    height: 500px;
    position: relative;
    overflow: hidden;
    left: -300px;
}

.MapImage{

    height: 500px;
    width: 500px;
}

.MapImage:hover{
    cursor: pointer;
    transition: transform 0.5s ease;
    transform:scale3d(1.1, 1.1, 1.1);
}

.list{
    list-style:none;
}

.list li{
    font-weight:100;
    font-size: 18px;
    margin-bottom: 10px;
    text-indent: 60px;
}

#mark1{
    background-color: springgreen;
}
#mark2{
    background-color: hsl(60, 68%, 58%);
}
#mark3{
    background-color: hsl(0, 59%, 60%);
}
#mark4{
    background-color: #16e6e6;
}
.info{
    position: absolute;
    top: 175px;
    left: 700px;
}

.info h1{
    color:#e63946;
    padding: 0 60px;
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 20px;
}
.info h4:hover{
    cursor: pointer;
    color:#e63946;
}

.info h4{
    color:black;
    padding: 20px 60px;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
}

.info p{
    color:black;
    padding: 5px 60px;
    font-size: 20px;
    font-weight: normal;
}

.Other1{
    position: relative;
    right: 100px;
}

.Other1 h1{
    color:#e63946;
    padding: 0 60px;
    font-size: 50px;
    font-weight: bold;
}

.Other1 h4:hover{
    cursor: pointer;
    color:#e63946;
}

.Other1 h4{
    color:black;
    padding: 20px 60px;
    font-size: 30px;
    font-weight: bold;
}

.Other1 p{
    color:black;
    padding: 5px 60px;
    font-size: 20px;
    font-weight: normal;
}

.Other2{
    position: relative;
    right: 8px;
}

.Other2 h1{
    color:#e63946;
    padding: 0 60px;
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 30px;
}

.iframe{

    position: relative;
    left: 60px
}

.footer{
    position: relative;
    top: 50px;
    text-align: center;
    color: white;
    padding: 30px;
    font-size: x-small;
    background-color:#e63946;
}