*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    padding: 0;
    overflow: auto;
    scroll-behavior: smooth;
}

.Background {
    background-image: url("/Images/Austria.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    min-height: 703px;
    color: white; 
}


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 60px 20px 60px;
}

.navbar h1 {
    position: absolute;
    left: 100px;
    padding: 50px;
    font-size: 30px;
    font-weight: 900;
}

.navbar ul {
    font-size: larger; 
    list-style: none;
    display: flex;
}

.navbar a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    transition: 0.2s;
    padding: 0px 25px;
}

.navbar:hover{
    transition: 0.4s ease;
    background-color: rgba(230, 57, 70, 0.9);
}


.navbar a:hover, a.Active{
    color: black;
    text-decoration: none;
    font-weight: bold;
}

.flag {
    width: 60px;
    height: 40px;
    padding: 5px;
}

.Main{
    display: flex;
    flex-direction: column;
    padding: 110px 125px;
    gap: 20px;
}

.Main h3{
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 10px;
}

.Main h1{
    font-weight: bold;
    font-style: italic;
    font-size: 50px;
    margin-bottom: 20px;
}

.Main p{
    font-size: 20px;
    font-style: italic;
    margin-bottom: 50px;
}
.btn{
    display: inline-block;
    text-decoration: none;
    border: none;
    background-color: hsl(0, 2%, 30%);
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
    padding: 10px 20px;

}

.btn:hover{
    background-color: #e63946;
}

.Cities{

    padding: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}

.Cities div {

    border: 5px solid black;
    border-radius: 2px;
    height: 550px;
    width: 500px;
}

.city {
    width: 491px;
    height: 541px;
}



.Cities h4{
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    text-align: center;
    padding: 30px 0;
}

.Cities p{
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}

.footer{
    position: relative;
    top: 50px;
    text-align: center;
    color: white;
    padding: 30px;
    font-size: x-small;
    background-color:#e63946;
}